.whitebox {
    background: rgb(203, 172, 70);
    border: 1px solid black;
    width: 6vw;
    height: 11vh;
}

.wimg {
    margin-left: .35vw;
    width: 5.2vw;
    height: 10.2vh;
    margin-top: .4vh;
}